.invite-new-card  {
    border: 1px solid transparent;
    /* height: 430px; */
    width: 35%;
    border-radius: 10px;
    margin: 20px 32%;
    padding: 20px 0 ; 
    padding-left: 20px;
    padding-right: 5px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.invite-new-title{
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.invite-new-field {
    height: 30px;
    border-radius: 5px;
    width: 95%;
    border: 1px solid #999999;
} 

.invite-new-margin {
    margin: 10px 0;
}

.invite-date-field {
    height: 30px;
    border-radius: 5px;
    width: 15%;
    border: 1px solid #999999;
    margin-left: 10px;
} 

.invite-new-margin {
    margin: 10px 0
}

.invite-card-btn {
    display: flex;
    margin-left: 53%;
}

.invite-new-btn {

    background: #69bab0;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: px;
}

.invite-new-btn:hover {
    background: #fff;
    color: #69bab0;
} 

.invite-cancel-btn {
    background: #999999;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 10px;
}

.invite-cancel-btn:hover {
    color: #999999;
    background: #fff;
}