.new-card {
    border: 1px solid #555555;
    height: 420px;
    width: 35%;
    border-radius: 10px;
    margin: 20px 30%;
    padding: 10px ; 
    position: relative;
}

.new-form-margin {
    margin: 10px 0
}

.new-form-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #999999
}

.new-form-label {
    font-size: 15px;
}

.new-form-label:after {
    content:" *";
    color: red;
  }

.new-text-field {
    height: 30px;
    border-radius: 5px;
    width: 95%;
    border: 1px solid #999999;
}

.new-des-field {
    width: 95%;
}

.new-rd-field {
    margin-top: 10px;
}

.new-card-btn {
    display: flex;
    right:  2%;
    position: absolute;
}

.create-btn {
    margin: 10px 0;
    background-color: #999999;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 10px;
}

.create-cancel-btn {
    margin: 10px 0;
    background-color: #999999;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 10px;
}