.new-card {
    border: 1px solid transparent;
    /* height: 430px; */
    width: 35%;
    border-radius: 10px;
    margin: 20px 30%;
    padding: 10px ; 
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-form-margin {
    margin: 10px 0
}

.new-form-title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #69bab0
}

.new-form-label {
    font-size: 15px;
}

.new-form-label:after {
    content:" *";
    color: red;
  }

.new-form-error {
    color: red;
    font-weight: 200;
}

.new-form-error:before {
    content:" *";
    color: red;
    margin-right: 10px;
  }

.new-text-field {
    height: 30px;
    border-radius: 5px;
    width: 95%;
    border: 1px solid #999999;
}

.new-des-field {
    width: 95%;
}

.new-rd-field {
    margin-top: 10px;
}

.new-public {
    margin-bottom: 5px;
}

.new-card-btn {
    display: flex;
    margin-left: 60%;
}

.create-btn {
    margin: 10px 0;
    background: #69bab0;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 10px;
}

.create-btn:hover {
    background: #fff;
    color: #69bab0;
} 

.create-cancel-btn {
    margin: 10px 0;
    background: #999999;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    margin-right: 10px;
}

.create-cancel-btn:hover {
    color: #999999;
    background: #fff;
}