/* body{
  background: #aff9ef;
} */

.add-post-btn {
    float: right;
    margin: 20px 0;
    margin-right: 28%;
    background-color: #69bab0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 3px
}

.add-post-btn:hover {
    color: #69bab0;;
    background-color: #fff;
}

.add-post-icon {
    margin: 0 5px; 
}

.index-container {

    margin: 80px
}

.index-card{
    width: 50%;
    border: 1px solid transparent;
    margin: 20px 25%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.index-card-header {
    height: 35px;
    padding: 5px 10px;
    background: #69bab0;
    color: #fff;
    /* margin: 10px */
}

.index-card-tilte {
    font-size: 15px;
    font-weight: 200;
}

.update-time {
    font-size: 10px;
    font-weight: 200;
    margin-top: -10px;
}

.post-hr {
    border-top: 1px solid #999999
}

.index-card-body {
    background: #fff;
    height: 100px;
    padding: 10px;
    /* margin: 10px */
}

.show-more-height {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.index-card-des {
    font-size: 14px;
}
/* .index-card-tilte , .update-time, .index-card-body {
    margin-left: 10px
} */

.index-card-btn {

    float: right;
    display: flex;
    margin-top: 20px;
    position: absolute;
    right: 1% ; 
    top: 55%
}

.show-more-btn {
    margin: 10px 0;
    background: #69bab0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
    margin-right: 10px;
}

.show-more-btn:hover {
    color: #69bab0;
    background: #fff;
}

.delete-btn {
    margin: 10px 0;
    background: #f53e3e;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
    margin-right: 10px;
}

.delete-btn:hover {
    background: #fff;
    color: #f53e3e;
}

div.dataTables_length select {

    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    border: 1px solid #363d4e;
    border-radius: 5px;
  
  }
  
  div.dataTables_wrapper div.dataTables_filter input {
    
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #363d4e;
    border-radius: 5px;
  
  }

  /* datatable */