.reset-new-card {
    border: 1px solid transparent;
    width: 25%;
    border-radius: 10px;
    margin: 20px 36%;
    padding: 20px ; 
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reset-new-title{
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}

.reset-new-margin {
    margin: 10px 0
}

.reset-new-field {
    height: 30px;
    border-radius: 5px;
    width: 95%;
    border: 1px solid #999999;
}

.reset-new-btn {
    margin-top: 15px;
    margin-bottom: 5px;
    background: #0275d8;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
    width: 95%;
}

.reset-new-btn:hover {
    background: #fff;
    color: #0275d8;
}

.reset-new-label {
    font-size: 15px;
}

.reset-new-label:after {
    content:" *";
    color: red;
  }
