.add-user-btn {
    float: right;
    margin: 10px 0;
    background: #0275d8;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
}

.add-user-btn:hover {
    color: #0275d8;
    background: #fff;
}

.table-div {
    margin-top: 50px ;
    margin-left: 20% ;
    margin-right: 20%
}

.action-btn {
    float: right;
    display: flex;

}

.edit-user-btn {
    /* margin-right: 10px; */
    /* margin-top: 30px; */
    background: #69bab0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
    margin-right: 10px;
}

.edit-user-btn:hover {
    background: #fff;
    color: #69bab0;
}

.delete-user-btn {
    /* margin-top: 30px; */
    background: #f53e3e;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
}


.delete-user-btn:hover {
    color: #f53e3e;
    background: #fff;
}