.add-user-btn {
    float: right;
    margin-top: 10px;  
    background: #69bab0;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 15px;
}

.add-user-btn:hover {
    color: #69bab0;
    background: #fff;
}

.table-div {
    margin-top: 50px ;
    margin-left: 20% ;
    margin-right: 20%;
    background: white;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

.action-btn {
    float: right;
    display: flex;
    /* margin-top: -5px; */
}

.edit-user-btn {
    /* margin-right: 10px; */
    /* margin-top: 30px; */
    background: #69bab0;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
    margin-right: 10px;
}

.edit-user-btn:hover {
    background: #fff;
    color: #69bab0;
}

.delete-user-btn {
    /* margin-top: 30px; */
    background: #f53e3e;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px 10px;
}

.delete-user-btn:hover {
    color: #f53e3e;
    background: #fff;
}